@import '@scss/index.scss';

.ui.form {
  .ui.input {
    input: {
      border: 1px solid $border-grey-light;
      font-size: 16px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ui.button.submit {
    background-color: $primary;
    color: $font-light;
    margin: 0;
  }
}

.auth-form {
  .actions {
    justify-content: space-between !important;

    .ui.basic.button {
      margin: 0;
    }

    .ui.button.submit {
      margin-right: 10px !important;
    }
  }
}
