.payment {
  padding: 10px;
  .title {
    width: max-content;
    background-color: $background-dark-absolute;
    color: $font-light;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }

  .data {
    background-color: $background-light;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
  }

  .form-payment {
    width: 60%;
    margin: 0 auto;

    .StripeElement {
      padding: 15px;
      border-radius: 0.25rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
    }

    .ui.button {
      margin-top: 15px;
      padding: 15px;
      background-color: $primary;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
      color: $font-light;
      width: 100%;
    }
  }
}
