.basic-modal {
  .header {
    background-color: $primary !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    span,
    i {
      color: $font-light;
      font-weight: bold;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      margin: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
