.pane-information {
  overflow: hidden;
  &__video {
    width: 100% !important;
    height: 620px !important;
  }

  &__content {
    padding: 14px;
    color: $font-grey;

    &-date {
      display: flex;
      margin-top: 20px;

      h4 {
        color: $primary;
        margin-right: 10px;
      }
    }
  }
}
