.cart {
  &__not-found {
    text-align: center;
    padding-top: 50px;
  }

  &__summary {
    padding: 10px;

    &-title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }

    &-data {
      background-color: $background-light;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      padding: 15px;
    }

    &-product {
      td {
        text-align: center !important;
        &:first-of-type {
          display: flex !important;
          align-items: center;

          img {
            height: 100px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  &__resumen {
    td {
      &:last-of-type {
        text-align: center !important;
      }
    }
    &-clear {
      border-bottom: 1px solid $border-light !important;
      border-left: 1px solid $border-light !important;
    }

    &-total {
      color: $primary;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
