.wishlist {
  &__block {
    padding: 10px;

    .title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }

    .data {
      background-color: $background-light;
      box-shadow: 1px 1px 2px 0 rgb(0, 0, 0, 0.1);

      &__not-found {
        text-align: center;
        padding: 20px 0;
      }

      .list-games {
        .ui.grid {
          margin: 0;
        }
      }
    }
  }
}
