.list-games {
  &__game {
    padding: 15px;
    &:hover {
      opacity: 0.9;
    }

    img {
      width: 100%;
    }

    h2 {
      text-align: center;
      margin-top: 5px;
      font-size: 15px;
      color: $font-grey;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
    }

    &-poster {
      position: relative;
      object-fit: contain;

      &-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-shadow: inset 0 -43px 15px -22px rgba(0, 0, 0, 0.75);

        .discount {
          background: $success;
          color: $font-light;
          font-size: 13px;
          padding: 1px 6px;
        }

        .price {
          color: $font-light;
          padding: 0 5px 3px 0;
          font-size: 18px;
        }
      }
    }
  }
}
