.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;

  .ui.pagination.menu {
    background-color: transparent;
    border: 0;
    box-shadow: none;

    .item {
      background-color: $primary;
      border-radius: 50% !important;
      color: $font-light;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;

      &::before {
        display: none;
      }

      &:focus {
        outline: none !important;
      }

      &.active {
        background-color: $background-grey;
        color: $font-light;
      }
    }
  }
}
